# Python
__pycache__/
*.pyc
*.pyo

# virtualenv
.venv/

# env files
.env

# Streamlit cache
.streamlit/

# OS
.DS_Store

# snapshots optional
storage/snapshots/*.json
storage/snapshots/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Environment
.env

# Data / Models
storage/cache/*.csv
storage/cache/*.joblib
storage/*.db
storage/*.json

# OS
.DS_Store